
/* Desktop: 1920 x 1080, Laptop: 1280 x 720*/

*{
  --orange: #FF8C42;
  --light-gray: #ced3dc;
  --snowy: #f3f7f8;
  --blue:#275dad;
  --dark-gray: #5B616A;

  --left-margin:5%;

  --font-mont:  'Montserrat', sans-serif;
  --font-oswald: 'Oswald', sans-serif;

  margin:0;
  padding:0;
  box-sizing: border-box;

  
 
}

#root{
  background-color: var(--snowy);
}

.display{
  background-color: var(--snowy);
}


/* Nav bar */

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  height: 5vh;

  background-color: var(--snowy);
}

nav > * {
  flex-basis: 20vw;
}



/* Home Page*/

.home{
  overflow: hidden;
  
  height:auto;
  width:100vw;
  height:95vh;
}

.container{
  height:90%;
  width:100%;

  
  
  display: grid;
  grid-template-columns: .4fr .6fr;
  grid-template-rows: .7fr .3fr;

}

.topText{
  font-family: var(--font-oswald);
  font-size: 20vh;
  
  grid-column: 1/3;
  grid-row: 1/2;

  padding-left: 7vw;
  
  color:white;
  background-color: var(--blue);
}

.bottomText{
  font-family: var(--font-mont);
  font-size: 5vh;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 7vw;
  padding-top: 3vh;
  background-color: var(--snowy);
}

.callToAction{
  width: 70ch;
  
  grid-row: 2/3;
  grid-column: 2/3;
  padding-left: 11vw;
  padding-top: 3vh;
  padding-right: 11vw;

  background-color: var(--snowy);
}

.callToAction > p{
  font-size: 2vh;
}

.callToAction > button{
  margin-top: 3vh;

  font-size: 2vh;
}


/*    Info Page   */

.info{
  display:grid;
  grid-template-rows: 1fr .6fr;
  grid-template-columns: repeat(5,1fr);

  overflow-x: hidden;
}

.skillList{
  grid-row: 1/2;
  grid-column: 1/3;

  max-width: 15vw;

  margin-left: 6.8vw;
 
}
.skillList button{
  min-width: 8vw;
  font-size: 1.5em;
}



.skillList li{
  font-size: 2em;
}

.about{
  grid-row: 2/3;
  grid-column: 1/6;

  margin:auto;
  min-height: 35vh;

  margin-left: 6.8vw;
  margin-top: 4vh;
}

.slug{
  grid-row: 1/2;
  grid-column: 3/6;

  margin:auto;
  background-color: var(--orange);

  padding:4%;
}

.slugButt{
  border-style: none;
  background-color: none;
  margin-top: 5vh;
  font-size: 2vh;
}

.flexColumn{
  width:100vw;
  display:flex;
  flex-direction: row;
}

.education{
  width:50%;
}

.flexRow{
  display:flex;
  
  gap:25px;

}

.flexRow > div{
  flex-basis: 24vw;
}

/* contact Grid*/

.more{
  height:95vh;
  width:100vw;

  margin-left: 7vw;
}

.more > h1{
  margin-top: 5vh;
}
.contactGrid{
  width:75%;
  height:75%;

  margin:10vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4,1fr);
}

.social img{
  height:70px;
  width:70px;
}

.form{
  grid-column: 1/2;
  grid-row: 1/4;
}

.form > input{
  margin-bottom: 2vh;
}

.card > h3{
  font-size: 2vh;
  margin-bottom: 2vh;
}

 