*{
  --orange: #FF5E5B;
  --light-gray: #f1f1f1;
  --ivory: #FFFFEA;
  --blue:#00CECB;
  --yellow: #FFED66;

  --left-margin:5%;

 
}

body{
  background-color: var(--orange);
  background-image: linear-gradient(180deg,var(--blue),var(--light-gray));
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

section{
  display:flex;
  flex-direction: row;
  height:100vh;
  width:100vw;
}

nav{
  min-width:8vw;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  
  text-align: center;
  background-color: var(--light-gray);

}

<<<<<<< HEAD

=======
nav > a{
  text-align: center;
  background-color: var(--ivory);
  text-decoration: none;
  padding:5%;
  min-width: 60%;
  margin:auto;
  color:black;
  font-weight: bolder;
  box-shadow:1px 1px 1px inset;
}
>>>>>>> 244f878b00350b3ffeb4153b83f06cca4d0454c4


.home{
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  text-align: center;

  margin: auto;

  width:auto;
  height:auto;

  padding:5% 7%;

  background-color: var(--ivory);

  border-radius: 5%;
  
  
}

.port{
  margin-left: var(--left-margin);
}

#pDescription{
  max-width: 25vw;
}

.flexRow{
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  gap:2%;
}

=======
  justify-content: space-evenly;
  gap:2%;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row: 2/4;
  grid-column: 1/2;
}

>>>>>>> 244f878b00350b3ffeb4153b83f06cca4d0454c4
.info{
  display: grid;
  grid-template-columns: .6fr .4fr;
  grid-template-rows: .1fr .45fr .45fr;

  width:100%;
<<<<<<< HEAD
=======
  margin-left: var(--left-margin);
>>>>>>> 244f878b00350b3ffeb4153b83f06cca4d0454c4
}

.info > h1{
  grid-row: 1/2;
  grid-column: 1/2;
}

.education{
  grid-row: 2/3;
  grid-column: 1/2;

<<<<<<< HEAD
=======
  margin-top:auto;
  margin-bottom: auto;

>>>>>>> 244f878b00350b3ffeb4153b83f06cca4d0454c4
}

.employment{
  grid-row: 3/4;
  grid-column: 1/2;
<<<<<<< HEAD
=======
  margin-top:auto;
  margin-bottom: auto;

>>>>>>> 244f878b00350b3ffeb4153b83f06cca4d0454c4
}

.skillList{
  grid-column: 2/3;
  grid-row: 2/4;
  margin-left:0;
<<<<<<< HEAD
  max-width: 50%;
}

.skillList ul{
  list-style: none;
  margin-left:0;
  padding-left:0;
=======
  width:50%;
  text-align: center;


  margin:auto;
}

.skillList ul{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;

  list-style: none;
  margin-left:0;
  padding-left:0;

  max-height: 50vh;
>>>>>>> 244f878b00350b3ffeb4153b83f06cca4d0454c4
}

.skillList li{
  padding:10px;
  margin:2px;
  border-style: solid;
<<<<<<< HEAD
  border-color: grey;
  background-color: rgb(211, 211, 211);
=======
  border-color: rgb(172, 172, 172);
  background-color: rgb(241, 241, 241);
  
}

.social img{
  height:90px;
  width:auto;
}

.more{
  margin-left: var(--left-margin);
}

.more > h1 {margin-left:20px;
margin-bottom: 5.5vh;}

.contactGrid>form{
  display: flex;
  flex-direction: column;
}

.emp > p{
  max-width: 50ch;
}

.card{
  background-color: var(--ivory);
  padding:10px;
>>>>>>> 244f878b00350b3ffeb4153b83f06cca4d0454c4
  
}